{:paths ["src" "notebooks" "resources"]
 :deps {io.github.nextjournal/clerk
        {:git/sha "990749d3218b35765d8f9d8a826638e53f6d552d"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}"]}

  :gh-pages
  {:exec-fn nextjournal.clerk/build!
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"viewer.js\"}"]
   :exec-args {:paths ["notebooks/**"]}}

  :nextjournal/clerk
  {:exec-fn build/build!
   :extra-paths ["build"]
   :nextjournal.clerk/aliases [:shadow]}

  :shadow {:jvm-opts ["-Dpolyglot.engine.WarnInterpreterOnly=false" "-XX:-OmitStackTraceInFastThrow"]
           :main-opts ["-m" "shadow.cljs.devtools.cli"]
           :extra-deps {io.github.nextjournal/clerk.render
                        {:git/url "https://github.com/nextjournal/clerk"
                         :git/sha "990749d3218b35765d8f9d8a826638e53f6d552d"
                         :deps/root "render"}}}}}
