{:paths ["src" "notebooks"]
 :deps {io.github.nextjournal/clerk {:git/sha "39a07a44c8adbb690fde42434ee7595fc684f759"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}"]}

  :gh-pages {:exec-fn nextjournal.clerk/build!
             :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"viewer.js\"}"]
             :exec-args {:paths ["notebooks/**"]}}

  :nextjournal/clerk {:exec-fn build/build!
                      :extra-paths ["build"]
                      :nextjournal.clerk/aliases [:shadow]}

  :shadow {:jvm-opts ["-Dpolyglot.engine.WarnInterpreterOnly=false" "-XX:-OmitStackTraceInFastThrow"]
           :main-opts ["-m" "shadow.cljs.devtools.cli"]
           :extra-deps {io.github.nextjournal/clerk.render
                        {:git/url "https://github.com/nextjournal/clerk"
                         :git/sha "d960dd73a71cfa97c5fd01ca9224d0f291e0c0fd"
                         :deps/root "render"}}}}}
