{:paths ["src" "dev"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk
        {:git/sha "75f073c4899e37b2259cb2057cbf863b90892897"}}
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {org.babashka/cli    {:mvn/version "0.5.40"}
    org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
   :exec-fn nextjournal.clerk/build!
   :main-opts ["-m" "babashka.cli.exec"]
   :exec-args
   ;; TODO fill in index, paths
   {
    :index ""
    :paths [""]}}}}
